<!DOCTYPE html>
<html>
<head>
<meta name="google-site-verification" content="J1xcaFMN-59oyC9WVGqOHs2C-5Eyg4M7-Vx6xxqqtZ4" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />
    <link href="{{asset 'css/lato.css'}}" rel="stylesheet" type="text/css">
    <link href="{{asset 'css/font-awesome.css'}}" rel="stylesheet" type="text/css">
    <link href="{{asset 'css/style.css'}}" rel="stylesheet" type="text/css">
    <link href="{{asset 'favicon.ico'}}" rel="shortcut icon">   
    
    {{ghost_head}}
</head>
<body itemscope itemtype="http://schema.org/Blog" class="{{body_class}}">
    {{{body}}}
    <footer>           
    {{> footer}}
    </footer>
    
    {{ghost_foot}}
    <script src="assets/js/highlight.min.js"></script>	
</body>
</html>
