{{!< default}}
<style>
#menu li {
    display:inline;
    padding: 10px 10px;
}
</style>
<script>
  (function() {
    var cx = '003978629609735582100:4xtukwk_hyq';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:search></gcse:search>
<div id="menu">
    <ul>
        <li> {{navigation}} </li>
    </ul>
</div>
    <header class="site-header cover" {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}}>
        <section class="header-content">
            <a itemprop="name url" class="blog-title" href="/">{{@blog.title}}</a>
            <span itemprop="description" class="blog-description">{{@blog.description}}</span>
            {{> links}}
        </section>
    </header>
    
    <main id="main" class="index" role="main">
        {{#foreach posts ~}}
        <article itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting" class="{{post_class}}">
            <header class="meta">
                <h1 class="post-title" itemprop="name headline"><a href="{{url}}"  itemprop="url">{{{title}}}</a></h1>
                <time class="timesince date" datetime="{{date format='YYYY-MM-DDTHH:mm'}}" title="{{date format='D MMM YYYY'}}" data-timesince="{{date format='X'}}" itemprop="datePublished">{{date format='D MMM YYYY'}}</time>
            </header>
            <section class="post-content" itemprop="articleBody text">{{content}}</section>
        </article>
        {{~/foreach}}
        {{pagination}}        
    </main>
    
